

.page {
    background-color: rgb(105, 126, 146);
    /* max-width: 2560px; */
    font-family: Garamond;
}
    


.main-section {

    max-width: 2560px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0px 0px 5px 2px black; */
    margin: 50px;
    gap: 50px;
}

.section-group {

    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    display: flex;

    
    

}

.section-group:hover {

    box-shadow: 0px 0px 10px 5px black;
}


.section-group :nth-child(1) {

    width: 50%;
    display: flex;
    
    
    
}

.text-section {

    display: flex;
    flex-direction: column;
}

.text-section :nth-child(1) {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
   
   
}

.section-title h2 {
    
    font-size: 25px;
}




.section-group :nth-child(2) {

    width: 50%;
}

.section-tab :nth-child(1){

    
    max-height: 100%;
    min-width: 100%;

}

.text-section :nth-child(2) {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;


}
