.header {

    background-image: url(../../../MyImages/Header.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 20px;
    // margin: 20px 0px;


    .main-logo {

        display: flex;
        justify-content: center;
        filter: drop-shadow(5px 10px 4px black);
        margin-top: 20px;
        margin-bottom: 50px;
        padding-top: 50px;
        
        &:hover {
            filter: drop-shadow(7px 20px 5px black);
            transition-duration: 250ms;
        }

        img {

        @media screen and (max-width: 450px) {

            width: 90%;
        }
    }

    }
    
    
    

    .main {

        display: flex;
        justify-content: center;
        background-color: rgba($color: #95d1ce, $alpha: 0.7);
        filter: drop-shadow(5px 5px 5px black);
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        &:hover {

            
            filter: drop-shadow(5px 10px 5px black);
            transition-duration: 250ms;

        }

        .main-menu {
        
            display: flex;
            max-width: 860px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 30px;
            align-items: center;
            list-style-type: none;
            padding: 0;
            
            

            .menu-value {
                color: rgb(0, 0, 0);
                background-color: transparent;
                text-decoration: none;
                font-family: Garamond;
                font-size: 200%;
                font-weight: 400;
                margin-top: 40px;
                margin-bottom: 40px;
            
                filter: drop-shadow(2px 0px 0px rgb(255, 255, 255));
              

                &:hover {
    
                    filter: drop-shadow(0px 0px 5px white);
                }
            }
        }
        
    }
    
 
    
    
   
    
}
