

.footerWrapper {

// background-image: url(../../../MyImages/Header.jpg);
background-position: center;
background-size: cover;
padding: 20px 20px;
margin: 20px 0px;
color: white;
background-color: rgb(17, 17, 17);

}