
.main-section {

    max-width: 2560px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    gap: 50px;
    

    .section-group {
        
        box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
        display: flex;
        background-color: rgba($color: #95d1ce, $alpha: 0.5);

        @media screen and (max-width: 599px) {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }


        :nth-child(1) {
            
           
            width: 50%;
            display: flex;
            
            
            @media screen and (max-width: 599px) {

                width: 100%;
            }
        }

        :nth-child(2) {
    
            width: 50%;

            @media screen and (max-width: 599px) {

                width: 100%;
            }
        }
    
        &:hover {
    
            box-shadow: 0px 0px 10px 5px black;
            transition: 60ms;
            transition-duration: 200ms;
        }
        

        .text-section {
    
            display: flex;
            flex-direction: column;
           


            .section-title h2 {
        
                font-size: 25px;
            }
            
            :nth-child(1) {
    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 60%;

           
            }

            :nth-child(2) {
    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 20%;


            }

            .section-about {

                font-size: 20px;
            }
            
        }

        .section-tab :nth-child(1){
    
        
            max-height: 100%;
            min-width: 100%;
        

            &:hover {

                margin-left: 5%;
                filter: drop-shadow(1px 2px 5px black);
                transition-duration: 300ms;
            }
        }
        
    
    }
    
}